@{
    ViewBag.Title = "Pizza Portal";
}

<main>
    <section class="row" aria-labelledby="pizzaPortalTitle">
        <h1 id="title">Pizza Portal</h1>
        <p class="lead">Welcome to Pizza Portal, your ultimate destination for delicious pizzas!</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="specialsTitle">
            <h2 id="specialsTitle">Specials</h2>
            <p>Check out our latest specials and deals on mouthwatering pizzas!</p>
        </section>
        <section class="col-md-4" aria-labelledby="menuTitle">
            <h2 id="menuTitle">Menu</h2>
            <p>Explore our wide range of delicious pizzas and sides.</p>
        </section>
        <section class="col-md-4" aria-labelledby="locationsTitle">
            <h2 id="locationsTitle">Locations</h2>
            <p>Find the nearest Pizza Portal outlet and enjoy our freshly baked pizzas.</p>
        </section>
    </div>

    <section class="row" aria-labelledby="holiOfferTitle">
        <div class="col-md-12">
            <h2 id="holiOfferTitle">Holi Offer</h2>
            <p>Celebrate the festival of colors with our exclusive Holi offer! Enjoy special discounts and exciting deals on our range of pizzas and combos.</p>
            <p>Don't miss out on this opportunity to add more flavor to your Holi celebrations with Pizza Portal!</p>
        </div>
    </section>
</main>
